@import "tailwindcss";

@theme {
    /* Custom colors */
    --color-brand: #0f172a;
    --color-card: #ffffff;
    --color-page: #f8fafc;

    /* Custom spacing */
    --spacing-container: max(720px, 90%);
}

:root {
    --muted: #6b7280;
}

html, body, #__next {
    height: 100%;
}

body {
    @apply bg-page text-gray-900 antialiased;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}